NET "seg<0>" LOC = "P20"  | IOSTANDARD = LVCMOS33;
NET "seg<1>" LOC = "P12"  | IOSTANDARD = LVCMOS33;
NET "seg<2>" LOC = "P29"  | IOSTANDARD = LVCMOS33;
NET "seg<3>" LOC = "P31"  | IOSTANDARD = LVCMOS33;
NET "seg<4>" LOC = "P32"  | IOSTANDARD = LVCMOS33;
NET "seg<5>" LOC = "P19"  | IOSTANDARD = LVCMOS33;
NET "seg<6>" LOC = "P28"  | IOSTANDARD = LVCMOS33;
NET "seg<7>" LOC = "P30"  | IOSTANDARD = LVCMOS33;

NET "sel<0>" LOC = "P21"  | IOSTANDARD = LVCMOS33;
NET "sel<1>" LOC = "P15"  | IOSTANDARD = LVCMOS33;
NET "sel<2>" LOC = "P13"  | IOSTANDARD = LVCMOS33;
NET "sel<3>" LOC = "P27"  | IOSTANDARD = LVCMOS33;

NET "sys_clk"  LOC = "P57"  | IOSTANDARD = LVCMOS25;
NET "sys_rst_n" LOC = "P16"  | IOSTANDARD = LVCMOS33 | PULLUP;

NET "dip_sw"  LOC = "P110" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "LED_out" LOC = "P111" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
